## Build results
[Bb]in/
[Oo]bj/

## Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## Test / coverage
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml

## OS
Thumbs.db
.DS_Store
